# Constraints for Papilio One

CONFIG PROHIBIT=P99;
CONFIG PROHIBIT=P43;
CONFIG PROHIBIT=P42;
CONFIG PROHIBIT=P39;
CONFIG PROHIBIT=P49;
CONFIG PROHIBIT=P48;
CONFIG PROHIBIT=P47;

NET CLK		LOC="P89" | IOSTANDARD=LVTTL | PERIOD=31.25ns;

NET Seg7AN(0)	LOC="P18" | IOSTANDARD=LVTTL;
NET Seg7AN(1) 	LOC="P26" | IOSTANDARD=LVTTL;
NET Seg7AN(2)	LOC="P60" | IOSTANDARD=LVTTL;
NET Seg7AN(3)	LOC="P67" | IOSTANDARD=LVTTL;

NET Seg7(7)	LOC="P57" | IOSTANDARD=LVTTL; # A segment
NET Seg7(6)	LOC="P65" | IOSTANDARD=LVTTL; # B segment
NET Seg7(5)	LOC="P40" | IOSTANDARD=LVTTL; # C segment
NET Seg7(4)	LOC="P53" | IOSTANDARD=LVTTL; # D segment
NET Seg7(3)	LOC="P33" | IOSTANDARD=LVTTL; # E segment
NET Seg7(2)	LOC="P35" | IOSTANDARD=LVTTL; # F segment
NET Seg7(1)	LOC="P62" | IOSTANDARD=LVTTL; # G segment
NET Seg7(0)	LOC="P23" | IOSTANDARD=LVTTL; # decimal point
